%h1 Listing repositories
%h2= "size/30Go"

- @current_repository.breadcrumbs_trail.each do |repo|
  = link_to repo.name, repo
  = ' > '

%table
  %thead
    %tr
      %th Nom
      %th
      %th
      %th

  %tbody
    - @current_repository.repositories.each do |repository|
      %tr
        %td= repository.name
        %td= link_to 'Parcourir', repository
        %td= link_to 'Editer', edit_repository_path(repository)
        %td= link_to 'Supprimer', repository, method: :delete, data: { confirm: 'Are you sure?' }
    - @current_repository.single_files.each do |file|
      %tr
        %td= file.name
        %td= link_to 'Télécharger', file.file_file.url
        %td{colspan:2}= link_to 'Supprimer', file, method: :delete, data: { confirm: 'Are you sure?' }

%br

Ajouter un nouveau fichier
- @repository = Repository.new(repository: @current_repository)
= render 'repositories/form'

Ajouter un nouveau fichier
- @single_file = SingleFile.new(repository: @current_repositories) unless defined?(@single_file)
= render 'single_files/form'